body {
  font-family: Roboto;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: #E2E2E2;
}

/**********/
/* Banner */
/**********/
#banner {
  background-color: #1F1F1F;
  padding: 2em;
}

#banner h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 300;
}

/********/
/* MAIN */
/********/

main {
  width: 50%;
  margin: 3em auto 0 auto;
}

main > * {
  background-color: rgb(60, 65, 62);
}

@media only screen and (max-width: 768px) {
  main {
    width: 75%;
  }
}

@media only screen and (min-width:  992px) {
  main {
    width: 35%;
  }
}

#calculator {
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "display display display"
    "optionpad optionpad optionpad"
    "numpad numpad operation"
    "numpad numpad operation";
}

#display {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  grid-area: display;
  background-color: rgb(203, 115, 31);
  display: flex;
  flex-direction: column;
}

#display > p {
  margin: 0;
  min-height: 1.5em;
  font-size: 2em;
  text-align: end;
  padding: 0.5em;
}

#num-pad {
  grid-area: numpad;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#operation-pad {
  grid-area: operation;
  display: grid;
  grid-template-columns: 1fr;
}

#option-pad {
  grid-area: optionpad;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

#option-pad > button {
  min-width: 20%;
}

.col-span-2 {
  grid-column: span 2;
}

button {
  background-color: inherit;
  color: rgb(215, 221, 222);
  font-size: 3em;
  border-style: none;
  cursor:pointer;
}